<h1><%= @list.name%></h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><strong><%= bookmark.movie.title %></strong>
    • <%= bookmark.movie.rating %><br>
    <%= bookmark.movie.overview %>
    <%= link_to "delete", bookmark_path(bookmark) %>
    <br>
    <%= bookmark.comment%>
  </li><br>
<% end %>
</ul>
<button>
  Add a new movie
</button><br>
<%= link_to "Create bookmark", new_list_bookmark_path(@list) %>